@model IEnumerable<QienUrenMVC.Models.HoursPerDayModel>

@{
    ViewData["Title"] = "HoursRegistration";
    Layout = "~/Views/Shared/_LayoutEmployee.cshtml";

}

<div>
    <table class="tabel">
        <thead>
            <tr>
                <th class="kaartheader" colspan="7">Totaaluren @ViewBag.month (@ViewBag.year)</th>
            </tr>
        </thead>
        <thead class="kaartsubheader">
            <tr>
                <th class="headertekst" style="font-size:17px">Totaal Uren</th>
                <th class="headertekst" style="font-size:17px">Totaal Ziek</th>
                <th class="headertekst" style="font-size:17px">Totaal Overuren</th>
                <th class="headertekst" style="font-size:17px">Totaal Verlof</th>
                <th class="headertekst" style="font-size:17px">Totaal training</th>
                <th class="headertekst" style="font-size:17px">Totaal Overig</th>
            </tr>
        </thead>
        <tbody class="kaartinhoud">
            <tr>
                <td class="inhoudtekst">@ViewBag.TotalHours</td>
                <td class="inhoudtekst">@ViewBag.TotalSick</td>
                <td class="inhoudtekst">@ViewBag.TotalOver</td>
                <td class="inhoudtekst">@ViewBag.TotalLeave</td>
                <td class="inhoudtekst">@ViewBag.TotalTraining</td>
                <td class="inhoudtekst">@ViewBag.TotalOther</td>
            </tr>
        </tbody>
    </table>
</div>

<form asp-controller="Employee" asp-action="HoursRegistration" method="post">

    <input type="hidden" name="formid" value="@ViewBag.FormId" />
    <table class="tabel">
        <thead>
            <tr>
                <th class="kaartheader" colspan="9">
                    Urenregistratie @ViewBag.month (@ViewBag.year)
                </th>
            </tr>
        </thead>
        <thead class="kaartsubheader">
            <tr>
                <th class="headertekst" style="font-size:17px">Dag</th>
                <th class="headertekst" style="font-size:17px">Uren</th>
                <th class="headertekst" style="font-size:17px">Opdrachtgever</th>
                <th class="headertekst" style="font-size:17px">Ziek</th>
                <th class="headertekst" style="font-size:17px">Overuren</th>
                <th class="headertekst" style="font-size:17px">Verlof</th>
                <th class="headertekst" style="font-size:17px">Training</th>
                <th class="headertekst" style="font-size:17px">Overig</th>
                <th class="headertekst" style="font-size:17px">Reden m.b.t. Overig</th>
            </tr>
        </thead>

        <tbody class="kaartinhoud table table-striped">

            @if (ViewBag.status == 0 || ViewBag.status == 4)
            {
                @Html.EditorForModel()
            }
            else if (ViewBag.status == 1 || ViewBag.status == 2 || ViewBag.status == 3 || ViewBag.status == 5)
            {
                @Html.DisplayForModel()
            }

        </tbody>
    </table>

    @if (ViewBag.status == 4)
    {
        <div class="row">
            <div class="col-md-4">
                <label style="font-weight:bold">Commentaar Admin:</label>
                <div>
                    <textarea style="width: 100%; max-width: 100%; height: 200px;" disabled>@ViewBag.textAdmin</textarea>
                </div>

            </div>

            <div class="col-md-4"></div>

            <div class="col-md-4">

                <label style="font-weight:bold">Commentaar werkgever:</label>
                <div>
                    <textarea style="width: 100%; max-width: 100%; height: 200px;" disabled>@ViewBag.textClient</textarea>
                </div>
            </div>


        </div>
    }

    <div class="row">
        @if (ViewBag.status == 0 || ViewBag.status == 4)
        {
            <button type="submit" class="btn btn-login" style="margin-right:10px; margin-left:15px;">Bewaren</button>
            <button type="submit" asp-route-versturen="true" asp-route-id="formid" class="btn btn-login">Bewaren en versturen</button>
        }
        else if (ViewBag.status == 1 || ViewBag.status == 2 || ViewBag.status == 3 || ViewBag.status == 5)
        {
            <button disabled type="submit" class="btn btn-login" style="margin-right:10px; margin-left:15px;">Bewaren</button>
            <button disabled type="submit" asp-route-versturen="true" asp-route-id="formid" class="btn btn-login">Bewaren en versturen</button>
        }
    </div>

</form>
