@model QienUrenMVC.Models.ClientModel

@{
    ViewData["Title"] = "Opdrachtgever Gegevens";

}

<h1 style="text-align:center">@Model.CompanyName</h1>
<div class="container">
    <h3></h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <td>@Html.DisplayNameFor(model => model.CompanyName)</td>
                <td>@Html.DisplayFor(model => model.CompanyName)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.ClientName1)</td>
                <td>@Html.DisplayFor(model => model.ClientName1)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.ClientEmail1)</td>
                <td>@Html.DisplayFor(model => model.ClientEmail1)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.ClientName2)</td>
                <td>@Html.DisplayFor(model => model.ClientName2)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.ClientEmail2)</td>
                <td>@Html.DisplayFor(model => model.ClientEmail2)</td>
            </tr>
        </thead>
    </table>
</div>
<div style="margin-bottom:10px;" class="row">
    <div class="col-sm-2 offset-sm-10">
        <div style="text-align:center">
            <a asp-action="GetAllClients">Terug</a>
        </div>
    </div>
