@model IEnumerable<QienUrenMVC.Models.ClientModel>

@{
    ViewData["Title"] = "Opdrachtgevers lijst";
     Layout = "~/Views/Shared/_LayoutEmployee.cshtml";

}


<p>
    <a href="createClient" class="link">Nieuwe opdrachtgever</a>
</p>

@using (Html.BeginForm("GetAllClients", "Client", FormMethod.Get))
{
    @Html.TextBox("searchString")
    <input type="submit" value="Zoeken" class="btn btn-login" />
}
<br />
<table class="tabel">
    <thead>
        <tr>
            <th colspan="6" class="kaartheader">Opdrachtgevers</th>
        </tr>
    </thead>
    <thead class="kaartsubheader">
        <tr>
            <th class="headertekst">Naam</th>
            <th class="headertekst">Contactpersoon 1</th>
            <th class="headertekst">Contactpersoon 2</th>
            <th class="headertekst">Gegevens</th>
            <th class="headertekst">Wijzigen</th>
            <th class="headertekst">Verwijderen</th>
        </tr>
    </thead>
    <tbody class="kaartinhoud">
        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="3" style="color:red">
                    Geen Match Gevonden!
                </td>
            </tr>
        }
        else
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td class="inhoudtekst">
                        @item.CompanyName
                    </td>
                    <td class="inhoudtekst">
                        @item.ClientName1
                    </td>
                    <td class="inhoudtekst">
                        @item.ClientName2
                    </td>
                    <td class="inhoudtekst">
                        @Html.ActionLink("Gegevens", "ClientDetails", new { Id = item.ClientId }, new { @class="link" })
                    </td>
                    <td class="inhoudtekst">
                        @Html.ActionLink("Wijzigingen", "UpdateClient", new { id = item.ClientId }, new { @class="link" })
                    </td>
                    <td class="inhoudtekst">
                        @Html.ActionLink("Verwijderen", "DeleteClient", new { id = item.ClientId }, new { onclick = "return confirm('Weet u zeker dat u dit account wilt verwijderen?');" })
                    </td>
                </tr>
            }
        }
    </tbody>
</table>