@model IEnumerable<QienUrenMVC.Models.AccountModel>

@{
    ViewData["Title"] = "AccountOverzicht";

    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

}



<p>
    <a asp-action="CreateEmployee" class="link">Nieuwe gebruiker</a>
</p>

@using (Html.BeginForm("AccountOverzicht", "Admin", FormMethod.Get))
{
    @Html.TextBox("searchString")
    <input type="submit" value="Zoeken" class="btn btn-login" />
}
<br />
<table class="tabel">
    <thead>
        <tr>
            <th class="kaartheader" colspan="6">Accounts</th>
        </tr>
    </thead>
    <thead class="kaartsubheader">
        <tr>
            <th class="headertekst">
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th class="headertekst">
                Functie
            </th>
            <th class="headertekst">
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th class="headertekst">
                Aanpassen
            </th>
            <th class="headertekst">
                Urenformulieren
            </th>
            <th class="headertekst">
                Verwijderen
            </th>
        </tr>
    </thead>
    <tbody class="kaartinhoud">
        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="3" style="color:red">
                    Geen Match Gevonden!
                </td>
            </tr>
        }
        else
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td class="inhoudtekst">
                        @Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    @if (item.IsAdmin)
                    {
                        <td class="inhoudtekst">Admin</td>
                    }
                    else if (item.IsQienEmployee)
                    {
                        <td class="inhoudtekst">Werknemer Qien</td>
                    }
                    else if (item.IsSeniorDeveloper)
                    {
                        <td class="inhoudtekst">Senior Developer</td>
                    }
                    else if (item.IsTrainee)
                    {
                        <td class="inhoudtekst">Trainee</td>
                    }
                    else
                    {
                        <td></td>
                    }

                    @if (item.IsActive == true)
                    {
                        <td class="inhoudtekst">
                            <img style="width: 15px; height:auto;" src="~/Images/check-circle-solid.svg" />
                        </td>
                    }
                    else if (item.IsActive == false)
                    {
                        <td class="inhoudtekst">
                            <img style="width: 15px; height:auto;" src="~/Images/times-circle-solid.svg" />
                        </td>
                    }
                    <td class="inhoudtekst">
                        @Html.ActionLink("Aanpassen", "EditAccount", new { accountID = item.AccountId }, new { @class = "link" })
                    </td>
                    <td class="inhoudtekst">
                        @Html.ActionLink("Urenformulieren", "UrenFormulieren", new { id = item.AccountId, name = item.FirstName + " " + item.LastName }, new { @class = "link" })
                    </td>
                    <td class="inhoudtekst">
                        @Html.ActionLink("Verwijderen", "DeleteAccount", new { accountID = item.AccountId }, new { onclick = "return confirm('Weet u zeker dat u dit account en bijbehorende uren formulieren wilt verwijderen?');" })
                    </td>
                </tr>
            }
        }

    </tbody>
</table>
<div>
    <div>
        <a asp-action="Dashboard" style="color:#9A33F8">Terug</a>
    </div>
</div>
