@model IEnumerable<QienUrenMVC.Models.HoursPerDayModel>
@{
    ViewData["Title"] = "Controleren";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

}
<div>
    <table class="tabel">
        <thead>
            <tr>
                <th class="kaartheader" colspan="7">Totaaluren</th>
            </tr>
        </thead>
        <thead class="kaartsubheader">
            <tr>
                <th class="headertekst" style="font-size:17px">Totaal Opdracht</th>
                <th class="headertekst" style="font-size:17px">Totaal Ziek</th>
                <th class="headertekst" style="font-size:17px">Totaal Overwerk</th>
                <th class="headertekst" style="font-size:17px">Totaal Verlof</th>
                <th class="headertekst" style="font-size:17px">Totaal Training</th>
                <th class="headertekst" style="font-size:17px">Totaal Overig</th>
            </tr>
        </thead>
        <tbody class="kaartinhoud">
            <tr>
                <td class="inhoudtekst">@ViewBag.TotalHours</td>
                <td class="inhoudtekst">@ViewBag.TotalSick</td>
                <td class="inhoudtekst">@ViewBag.TotalOver</td>
                <td class="inhoudtekst">@ViewBag.TotalLeave</td>
                <td class="inhoudtekst">@ViewBag.TotalTraining</td>
                <td class="inhoudtekst">@ViewBag.TotalOther</td>
            </tr>
        </tbody>
    </table>
</div>

<div>
    <table class="tabel">
        <thead>
            <tr>
                <th class="kaartheader" colspan="8">@ViewBag.fullName (@ViewBag.month, @ViewBag.year)</th>
            </tr>
        </thead>
        <thead class="kaartsubheader">
            <tr>
                <th class="headertekst">
                    @Html.DisplayNameFor(model => model.Day)
                </th>
                <th class="headertekst">
                    @Html.DisplayNameFor(model => model.Hours)
                </th>
                <th class="headertekst">
                    @Html.DisplayNameFor(model => model.OverTimeHours)
                </th>
                <th class="headertekst">
                    @Html.DisplayNameFor(model => model.IsLeave)
                </th>
                <th class="headertekst">
                    @Html.DisplayNameFor(model => model.IsSick)
                </th>
                <th class="headertekst">
                    @Html.DisplayNameFor(model => model.Training)
                </th>
                <th class="headertekst">
                    @Html.DisplayNameFor(model => model.Other)
                </th>
                <th class="headertekst">
                    @Html.DisplayNameFor(model => model.Reasoning)
                </th>
            </tr>
        </thead>
        <tbody class="kaartinhoud table table-striped">
            @foreach (var item in Model)
            {
                <tr>
                    <td class="inhoudtekst">
                        @Html.DisplayFor(modelItem => item.Day) - @Html.DisplayFor(modelItem => item.Month)
                    </td>
                    <td class="inhoudtekst">
                        @Html.DisplayFor(modelItem => item.Hours)
                    </td>
                    <td class="inhoudtekst">
                        @Html.DisplayFor(modelItem => item.OverTimeHours)
                    </td>
                    <td class="inhoudtekst">
                        @Html.DisplayFor(modelItem => item.IsLeave)
                    </td>
                    <td class="inhoudtekst">
                        @Html.DisplayFor(modelItem => item.IsSick)
                    </td>
                    <td class="inhoudtekst">
                        @Html.DisplayFor(modelItem => item.Training)
                    </td>
                    <td class="inhoudtekst">
                        @Html.DisplayFor(modelItem => item.Other)
                    </td>
                    <td class="inhoudtekst">
                        @Html.DisplayFor(modelItem => item.Reasoning)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    @using (Html.BeginForm("CheckControleren", "Admin", FormMethod.Get))
    {
        @Html.Hidden("CCaccountId", (object)ViewBag.accountId)
        @Html.Hidden("CCfullName", (object)ViewBag.fullName)
        @Html.Hidden("CCmonth", (object)ViewBag.month)
        @Html.Hidden("CCyear", (object)ViewBag.year)
        @Html.Hidden("CCstate", (object)ViewBag.status)

        <div class="row">
            <div class="col-md-4">
                <label style="font-weight:bold">Reden Admin:</label>

                @if (ViewBag.status == 0 || ViewBag.status == 3 || ViewBag.status == 4 || ViewBag.status == 5)
                {
                    <div>
                        @Html.TextArea("adminText", (string)ViewBag.textAdmin, new { @readonly = "readonly", style = "width: 100%; max-width: 100%; height: 200px;" })
                    </div>

                }
                else if (ViewBag.status == 1 || ViewBag.status == 2)
                {
                    <div>
                        @Html.TextArea("adminText", (string)ViewBag.textAdmin, new { style = "width: 100%; max-width: 100%; height: 200px;" })
                    </div>
                }


            </div>

            <div class="col-md-2" style="margin-top:40px; margin-bottom:40px;">

                @if (ViewBag.status == 0 || ViewBag.status == 3 || ViewBag.status == 4 || ViewBag.status == 5)
                {
                    <input disabled style="width:200px;" value="Goedkeuren" class="btn btn-success" type="submit" asp-action="CheckControleren" asp-controller="Admin" asp-route-id=@ViewBag.formId asp-route-keuring="true" />
                    <input disabled style="width:200px;" value="Afkeuren" class="btn btn-danger" type="submit" asp-action="CheckControleren" asp-controller="Admin" asp-route-id=@ViewBag.formId asp-route-keuring="false" />

                }
                else if (ViewBag.status == 1 || ViewBag.status == 2)
                {
                    <input style="width:200px;" value="Goedkeuren" class="btn btn-success" type="submit" asp-action="CheckControleren" asp-controller="Admin" asp-route-id=@ViewBag.formId asp-route-keuring="true" />
                    <input style="width:200px;" value="Afkeuren" class="btn btn-danger" type="submit" asp-action="CheckControleren" asp-controller="Admin" asp-route-id=@ViewBag.formId asp-route-keuring="false" />
                }
                <input style="width:200px;" value="Download als .xls" class="btn btn-primary" type="submit" asp-action="CreateSpreadSheet" asp-controller="Export" asp-route-id=@ViewBag.formId />
                <input style="width:200px;" value="Download als .csv" class="btn btn-info" type="submit" asp-action="ExportSCV" asp-controller="Export" asp-route-id=@ViewBag.formId />
            </div>

            <div class="col-md-2"></div>

            <div class="col-md-4">

                <label style="font-weight:bold">Reden werkgever:</label>
                <div>
                    @Html.TextArea("clientText", (string)ViewBag.textClient, new { @readonly = "readonly", style = "width: 100%; max-width: 100%; height: 200px;" })
                </div>
            </div>
        </div>

    }
</div>


<div>
    <a asp-action="Dashboard" style="color:#9A33F8">Terug</a>
</div>

