@model IEnumerable<QienUrenMVC.Models.HoursPerDayModel>
@{
    ViewData["Title"] = "Controleren";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

}
<div>
    <div class="row">

        <div class="col-sm" style="text-align:center">
            <h1>@ViewBag.month (@ViewBag.year)</h1>
            <h2 style="text-align:center">@ViewBag.fullName</h2>
        </div>


    </div>
    <div>
        <table class="table table-hover">
            <thead style="background-color:#9A33F8;">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Day)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Hours)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OverTimeHours)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IsLeave)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IsSick)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Training)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Other)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Reasoning)
                    </th>
                </tr>
            </thead>
            <tbody style="background-color:rgba(154, 51, 248, 0.12)">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Day) - @Html.DisplayFor(modelItem => item.Month)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Hours)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OverTimeHours)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsLeave)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsSick)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Training)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Other)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Reasoning)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div>
    @using (Html.BeginForm("CheckControleren", "Admin", FormMethod.Get))
    {
       
        //CHECK HIER VOOR DE STATE EN DISABLE BUTTONS ALS STATE 0, 1, 2 OF 4 is.
        <div class="row">
            <div class="col-md-4">
                <label style="font-weight:bold">Reden Admin:</label>

                @if (ViewBag.status == 0 || ViewBag.status == 3 || ViewBag.status == 4 || ViewBag.status == 5)
                {
                    <div>
                        @Html.TextArea("adminText", new { disabled = "disabled", style = "width: 100%; max-width: 100%; height: 200px;" })
                    </div>

                }
                else if (ViewBag.status == 1 || ViewBag.status == 2)
                {
                    <div>
                        @Html.TextArea("adminText", new { style = "width: 100%; max-width: 100%; height: 200px;" })
                    </div>
                }


            </div>

            <div class="col-md-2" style="margin-top:40px; margin-bottom:40px;">

                @if (ViewBag.status == 0 || ViewBag.status == 3 || ViewBag.status == 4 || ViewBag.status == 5)
                {
                    <input disabled style="width:200px;" value="Goedkeuren" class="btn btn-success" type="submit" asp-action="CheckControleren" asp-controller="Admin" asp-route-id=@ViewBag.formId asp-route-keuring="true" />
                    <input disabled style="width:200px;" value="Afkeuren" class="btn btn-danger" type="submit" asp-action="CheckControleren" asp-controller="Admin" asp-route-id=@ViewBag.formId asp-route-keuring="false" />

                }
                else if (ViewBag.status == 1 || ViewBag.status == 2)
                {
                    <input style="width:200px;" value="Goedkeuren" class="btn btn-success" type="submit" asp-action="CheckControleren" asp-controller="Admin" asp-route-id=@ViewBag.formId asp-route-keuring="true" />
                    <input style="width:200px;" value="Afkeuren" class="btn btn-danger" type="submit" asp-action="CheckControleren" asp-controller="Admin" asp-route-id=@ViewBag.formId asp-route-keuring="false" />
                }


            </div>

            <div class="col-md-2"></div>

            <div class="col-md-4">

                <label style="font-weight:bold">Reden werkgever:</label>
                <div>
                    @Html.TextArea("clientText", new { disabled = "disabled", style = "width: 100%; max-width: 100%; height: 200px;" })
                </div>
                


            </div>
        </div>

    }
</div>



