@model IEnumerable<QienUrenMVC.Models.FormsForMonthModel>

@{
    ViewData["Title"] = "FormsForYear";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1 style="text-align:center">Formulieren voor @ViewBag.Month (@ViewBag.Year)</h1>

<div>
    <table width="600px">
        <thead>
            <table class="table table-hover">
                <thead style="background-color:#9A33F8;">
                    <tr>
                        <th>Totaal Uren</th>
                        <th>Totaal Ziek</th>
                        <th>Totaal Overuren</th>
                        <th>Totaal Verlof</th>
                        <th>Totaal training</th>
                        <th>Totaal Overig</th>
                    </tr>
                </thead>
                <tbody style="background-color:rgba(154, 51, 248, 0.12)">
                    <tr>
                        <td>@ViewBag.TotalHours</td>
                        <td>@ViewBag.TotalSick</td>
                        <td>@ViewBag.TotalOver</td>
                        <td>@ViewBag.TotalLeave</td>
                        <td>@ViewBag.TotalTraining</td>
                        <td>@ViewBag.TotalOther</td>
                    </tr>
                </tbody>
            </table>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Naam
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateSend)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateDue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalHours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalSick)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalOver)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalTraining)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalLeave)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalOther)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAcceptedClient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsLocked)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.fullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateSend)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateDue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalHours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalSick)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalOver)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalTraining)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalLeave)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalOther)
            </td>

            @if (item.IsAcceptedClient == 0)
            {
                <td align="left">
                    <img style="width: 15px; height:auto;" src="~/Images/user-edit-solid.svg" /> Beschikbaar voor medewerker
                </td>
            }

            else if (item.IsAcceptedClient == 1 || item.IsAcceptedClient == 2)
            {
                <td align="left">
                    <img style="width: 15px; height:auto;" src="~/Images/paper-plane-solid.svg" /> In afwachting van keuring admin
                </td>
            }

            else if (item.IsAcceptedClient == 3)
            {
                <td align="left">
                    <img style="width: 15px; height:auto;" src="~/Images/check-circle-solid.svg" /> Goedgekeurd door Admin
                </td>
            }

            else if (item.IsAcceptedClient == 4)
            {
                <td align="left">
                    <img style="width: 15px; height:auto;" src="~/Images/times-circle-solid.svg" /> Afgekeurd door Admin
                </td>
            }

            else if (item.IsAcceptedClient == 5)
            {
                <td align="left">
                    <img style="width: 15px; height:auto;" src="~/Images/paper-plane-solid.svg" /> In afwachting van keuring opdrachtgever
                </td>
            }



            @if (item.IsLocked == true)
            {
                <td align=center>
                    <img style="width: 15px; height:auto;" src="~/Images/lock-solid.svg" />
                </td>
            }
            else if (item.IsLocked == false)
            {
                <td align=center>
                    <img style="width: 15px; height:auto;" src="~/Images/lock-open-solid.svg" />
                </td>
            }
            <td>
                @Html.ActionLink("Inzien", "Controleren", new { formId = item.FormId, accountId = item.AccountId, fullName = item.fullName, month = item.ProjectMonth, year = item.Year, state = item.IsAcceptedClient })
            </td>
        </tr>
        }
    </tbody>
</table>
