@model IEnumerable<QienUrenMVC.Models.FormsForMonthModel>

@{
    ViewData["Title"] = "FormsForYear";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1 style="text-align:center">Formulieren voor @ViewBag.Month (@ViewBag.Year)</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FormId)
            </th>
            <th>
                Naam
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateSend)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateDue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalHours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectMonth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAcceptedClient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsLocked)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FormId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateSend)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateDue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalHours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectMonth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>

            @if (item.IsAcceptedClient == 0)
            {
                <td align="left">
                    <img style="width: 15px; height:auto;" src="~/Images/user-edit-solid.svg" /> Beschikbaar voor medewerker
                </td>
            }

            else if (item.IsAcceptedClient == 1 || item.IsAcceptedClient == 2)
            {
                <td align="left">
                    <img style="width: 15px; height:auto;" src="~/Images/paper-plane-solid.svg" /> In afwachting van keuring admin
                </td>
            }

            else if (item.IsAcceptedClient == 3)
            {
                <td align="left">
                    <img style="width: 15px; height:auto;" src="~/Images/check-circle-solid.svg" /> Goedgekeurd door Admin
                </td>
            }

            else if (item.IsAcceptedClient == 4)
            {
                <td align="left">
                    <img style="width: 15px; height:auto;" src="~/Images/times-circle-solid.svg" /> Afgekeurd door Admin
                </td>
            }

            else if (item.IsAcceptedClient == 5)
            {
                <td align="left">
                    <img style="width: 15px; height:auto;" src="~/Images/paper-plane-solid.svg" /> In afwachting van keuring opdrachtgever
                </td>
            }



            @if (item.IsLocked == true)
            {
                <td align=center>
                    <img style="width: 15px; height:auto;" src="~/Images/lock-solid.svg" />
                </td>
            }
            else if (item.IsLocked == false)
            {
                <td align=center>
                    <img style="width: 15px; height:auto;" src="~/Images/lock-open-solid.svg" />
                </td>
            }
            <td>
                @Html.ActionLink("Inzien", "Controleren", new { formId = item.FormId, accountId = item.AccountId, fullName = item.fullName, month = item.ProjectMonth, year = item.Year, state = item.IsAcceptedClient })
            </td>
        </tr>
        }
    </tbody>
</table>
