@model IEnumerable<QienUrenMVC.Models.YearOverviewModel>

@{
    ViewData["Title"] = "JaarOverzicht";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}




<table class="tabel">
    <thead>
        <tr>
            <th class="kaartheader" colspan="7">Jaaroverzicht</th>
        </tr>
    </thead>
    <thead class="kaartsubheader">
        <tr>
            <th class="headertekst" style="font-size:17px">
                @Html.DisplayNameFor(model => model.Month)
            </th>
            <th class="headertekst" style="font-size:17px">
                Jaar
            </th>
            <th class="headertekst" style="font-size:17px">
                @Html.DisplayNameFor(model => model.HoursTrainee)
            </th>
            <th class="headertekst" style="font-size:17px">
                @Html.DisplayNameFor(model => model.HoursEmployee)
            </th>
            <th class="headertekst" style="font-size:17px">
                @Html.DisplayNameFor(model => model.HoursSoftwareDev)
            </th>
            <th class="headertekst" style="font-size:17px">
                @Html.DisplayNameFor(model => model.TotalHours)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody class="kaartinhoud table table-striped">

        @foreach (var item in Model)
         {
         <tr>
            <td class="inhoudtekst">
                @Html.DisplayFor(modelItem => item.Month)
            </td>
            <td class="inhoudtekst">
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td class="inhoudtekst">
                @Html.DisplayFor(modelItem => item.HoursTrainee)
            </td>
            <td class="inhoudtekst">
                @Html.DisplayFor(modelItem => item.HoursEmployee)
            </td>
            <td class="inhoudtekst">
                @Html.DisplayFor(modelItem => item.HoursSoftwareDev)
            </td>
            <td class="inhoudtekst">
                @Html.DisplayFor(modelItem => item.TotalHours)
            </td>
            <td class="inhoudtekst">
                @Html.ActionLink("Alle Formulieren", "FormsForYear", new {year = item.Year, month = item.Month }, new  { @class="link" })
            </td>
         </tr>
         }

    </tbody>
</table>